<section id="main-slider" class="no-margin">
    <div class="carousel slide">
        {{ render(controller('App\\Controller\\WorkController::indexAction',{'vue': '_slider'})) }}
    </div><!--/.carousel-->
    <a class="prev hidden-xs" href="#main-slider" data-slide="prev">
        <i class="icon-angle-left"></i>
    </a>
    <a class="next hidden-xs" href="#main-slider" data-slide="next">
        <i class="icon-angle-right"></i>
    </a>
</section><!--/#main-slider-->
